body {
    background-color: rgb(175, 175, 175);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: rgb(125, 125, 125);
    text-align: center;
}
.buttoncontainer {    
    background-color: rgb(125, 125, 125);
    display: grid;    
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 10px;
    text-align: center;
    align-items: center;

}

.button {
    font-size: 56px;
    border: 1px solid black;
}

 .col1 {
    margin-left: 12px;
    font-size: 56px;
    border: 1px solid black;
}

.col4{
    font-size: 56px;
    border: 1px solid black;
margin-right: 12px;
}

