
body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





.display {
    display: block;
    background-color: #031740;
    color: #45bf55;
    padding-top: 1.75%;
    padding-bottom: 1.75%;
    text-align: center;
    margin-top: 36px;
    width: 400px;
    border-top: 1px solid#000000;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;

    font-family: monospace;
}

.buttoncontainer {   
    padding: 25px; 
    border-bottom: black 1px solid;
    background-color: #052159;
    display: grid;    
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}


.opbtn {
    text-align: center;
    font-size: 56px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #031740;
    width: 80px;
    height: 80px;
    color: #45bf55;
}

.numbtn {
       text-align: center;
    font-size: 56px;
    border: 1px solid #052159;
    border-radius: 50%;
    background-color: #052159;
    width: 80px;
    height: 80px;
    color: #699EBF;
}

.bottom {
    background-color: transparent;
    display: flex;
    width: 320px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 12px;
    border: 1px solid black;
    font-size: 56px;
}